{
  "name": "honored-one",
  "version": "1.0.0",
  "description": "A high-precision Cursed Technique visualizer using MediaPipe and Three.js.",
  "main": "app.js",
  "scripts": {
    "start": "npx live-server"
  },
  "author": "Youssef-AMZOUG",
  "license": "MIT",
  "dependencies": {
    "three": "^0.128.0",
    "@mediapipe/hands": "^0.4.0",
    "@mediapipe/camera_utils": "^0.4.0",
    "@mediapipe/drawing_utils": "^0.4.0"
  }
}