body, html {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: black;
}

#canvas2d, #canvas3d {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

#canvas3d {
    pointer-events: none; /* Let clicks pass to the camera if needed */
}

#ui {
    position: fixed;
    top: 20px;
    left: 20px;
    color: #a020f0;
    z-index: 10;
    font-family: sans-serif;
    text-shadow: 0 0 10px #8000ff;
}